.card{
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 0px 60px 30px;
  background-color: #121212;
}

.title_section{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.showText{
  color:#34c94b;
  cursor: pointer;
}

.card_section{
  margin-top: 18px;

}

.carausel_wrapper{
  position:relative
}

.swiper {
  display: block;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding: 0;
  position: relative;
  z-index: 1;
}

.swiper_horizontal {
  touch-action: pan-y;
}

.swiper-wrapper {
  box-sizing: initial;
  display: flex;
  height: 100%;
  position: relative;
  transition-property: transform;
  transition-timing-function: ease;
  transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
  width: 100%;
  z-index: 1;
}