.navbar {
  background-color: #34c94b;
  height: 75px;
  width: 100vw;
  padding: 0px 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.button{
  width:170px;
  height:47px;
  background-color: #121212;
  border-radius: 12px;
  color:#34c94b;
  cursor: pointer;
  font-family: poppins,sans-serif;
  font-size: medium;
  margin: 14px;
  padding: 10px 16px;
}